.MyNavBar{
    height: 5.5em;

}

.NotLoggedIn {
    color: red;
    display:none;
}

.LoggedIn {
    color: blue;
    display:none;
}

#logout {
    visibility: hidden;
}
#submit {
    visibility: visible;
}